body {
  background-color: #eee;
  user-select: none;
  overflow: hidden;
}

#main-wrapper {
  position: relative;
}

#main-wrapper .cover {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

#main-wrapper .cover div:first-child {
  padding-top: 350px;
}

.scene1 {
  background-image: url(assets/img/scene1_bg.jpg);
}

.scene2 {
  background-image: url(assets/img/scene2_bg.jpg);
}

.scene3 {
  background-image: url(assets/img/scene3_bg.jpg);
  cursor: none; /* replaced with crosshair moved by JS */
}

#crosshairs {
  position: absolute;
  background-image: url(assets/img/crosshairs.png);
  width: 64px;
  height: 64px;
  display: none;
}

.glass {
  position: absolute;
  top: -500px;
  left: -500px;
  width: 450px;
  height: 450px;
  border: 20px solid #a29cd15e;
  border-radius: 1000px;
  backdrop-filter: blur(8px) contrast(0.7);
  -webkit-backdrop-filter: blur(8px) contrast(0.7);
  display: none;
}

.glass .bottom {
  position: absolute;
  top: 50px;
  left: 50px;
  border: 10px solid #a29cd15e;
  border-radius: 1000px;
  width: 300px;
  height: 300px;
  background-color: #80808042;
}

.glass .liquid {
  position: absolute;
  top: 30px;
  left: 30px;
  border: 1px solid #6a0f0f;
  background-color: #5c2310d6;
  width: 400px;
  height: 400px;
  border-radius: 1000px;
  opacity: 0;
}

/* Intro screens */

.intro-screen {
  width: 100%;
  height: 100%;
  font-family: 'Sancreek', cursive;
  background: linear-gradient(0deg, #760000, 5%, #6a0505);
  color: black;
  text-align: center;
}

.intro-screen .label {
  font-size: 36px;
  padding-top: 300px;
}

.intro-screen .title {
  font-family: 'Rye', cursive;
  font-size: 80px;
  padding-top: 250px;
  color: white;
}

.intro-screen .title-connector {
  font-size: 36px;
  padding: 30px;
  color: white;
}

.intro-screen .title-secondary {
  font-size: 45px;
  color: white;
}

.msg {
  position: absolute;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  padding: 20px;
  font-size: 32px;
  background: linear-gradient(315deg, #221010, #000000);
  box-shadow: 5px 0px 5px 0px rgb(0 0 0 / 20%);
  color: white;
}

.msg.barman {
  top: 60px;
  left: 0;
  padding-left: 80px;
  border-bottom: 3px solid #540064;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: left 0.5s;
}

.msg.option {
  left: 200px;
  padding-left: 80px;
  font-style: normal;
  border-bottom: 3px solid rgb(94, 94, 94);
  border-radius: 5px;
  cursor: pointer;
  transition: left 0.3s;
}

.msg.option:hover {
  left: 215px;
}

.msg.option.first {
  top: 300px;
}
.msg.option.first:before {
  content: 'A';
  color: rgba(128, 128, 128, 0.35);
  margin-left: -50px;
  margin-right: 20px;
}
.msg.option.second {
  top: 400px;
}
.msg.option.second:before {
  content: 'B';
  color: rgba(128, 128, 128, 0.35);
  margin-left: -50px;
  margin-right: 20px;
}
.msg.option.third {
  top: 500px;
}
.msg.option.third:before {
  content: 'C';
  color: rgba(128, 128, 128, 0.35);
  margin-left: -50px;
  margin-right: 20px;
}

.msg.player {
  top: 660px;
  left: 200px;
  border-bottom: 3px solid #22009b;
  border-radius: 10px;
}

.msg.villain {
  top: 60px;
  right: 0;
  padding-right: 80px;
  border-bottom: 3px solid #630808;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: right 0.5s;
}

.shape-front {
  position: absolute;
  top: 155px;
  left: 1000px;
  width: 200px; /* more than original, height and bg-size determine this */
  height: 360px;
  background-image: url(assets/img/villain_front.png);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
}
